---
import Nav from "@components/Nav.astro";
import * as i18n from "@i18n";
import "@assets/intro/base.css";
import "@assets/intro/about.css";
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import ogImage from "@assets/img/thumbnail.webp";
import head from "@assets/intro/head.webp";
import avatar from "@assets/intro/avatar.png";
import awwwards from "@assets/intro/awwwards.svg";
import cssreel from "@assets/intro/cssreel.svg";
import sitcon from "@assets/intro/sitcon.jpg";

const lang = i18n.local(Astro.url.pathname);
const t = i18n.t(lang, {
    title: {
        en: "About - Elvis Mao",
        "zh-Hant": "關於我 - 毛哥EM",
        "zh-Hans": "关于我 - 毛哥EM"
    },
    elvisdragonmao: {
        en: "Elvis Dragon Mao",
        "zh-Hant": "毛哥EM",
        "zh-Hans": "毛哥EM"
    },
    description: {
        en: "Elvis Dragon Mao (also known as Elvis Mao, 毛哥EM) (born May 12, 2007, in Taipei, Taiwan) is a Taiwanese full stack developer, digital creator, and student. Renowned for his expertise in web development, EM has earned recognition in both technical and creative domains. He is actively affiliated with organizations such as SITCON, COSCUP, and SCAICT and has received accolades including the 2024 Taichung City Outstanding Youth award and an Honorable Mention from Awwwards. As the founder of emtech.cc, EM champions innovative digital solutions and advocates for open-source initiatives.",
        "zh-Hant": "毛哥EM（本名毛宥鈞、Elvis Dragon Mao）2007年5月12日出生於台北市。是一位全端開發者、數位創作者以及學生，以其在網頁開發領域的專業技術聞名。他活躍於 SITCON、COSCUP 和 SCAICT 等學生組織，並曾榮獲「2024台中市優秀青年」以及 Awwwards Honorable Mention 等多項獎項。作為 emtech.cc 的創辦人，毛哥EM致力於推廣創新數位解決方案並提倡開源技術的應用。",
        "zh-Hans": "毛哥EM（本名毛宥钧、Elvis Dragon Mao）2007年5月12日出生于台北市。是一位全端开发者、数字创作者以及学生，以其在网页开发领域的专业技术闻名。他活跃于 SITCON、COSCUP 和 SCAICT 等学生组织，并曾荣获「2024台中市优秀青年」以及 Awwwards Honorable Mention 等多项奖项。作为 emtech.cc 的创办人，毛哥EM致力于推广创新数字解决方案并提倡开源技术的应用。"
    },
    aka: {
        en: "AKA 毛哥EM, EM, EDM",
        "zh-Hant": "Elvis Dragon Mao",
        "zh-Hans": "Elvis Dragon Mao"
    },
    intro: {
        en: "A digital creator with a passion for design, animation, interaction, and problem-solving.",
        "zh-Hant": "一名熱愛科技與藝術的數位創作者。",
        "zh-Hans": "一名热爱科技与艺术的数字创作者。"
    },
    skills: {
        en: "Skills",
        "zh-Hant": "技能",
        "zh-Hans": "技能"
    },
    ido: {
        en: "I do",
        "zh-Hant": "專業",
        "zh-Hans": "专业"
    },
    langLib: {
        en: "Languages & Libraries",
        "zh-Hant": "語言與函式庫",
        "zh-Hans": "语言与库"
    },
    applications: {
        en: "Applications",
        "zh-Hant": "應用程式",
        "zh-Hans": "应用程序"
    },
    education: {
        en: "Education",
        "zh-Hant": "教育",
        "zh-Hans": "教育"
    },
    awards: {
        en: "Awards",
        "zh-Hant": "獎項",
        "zh-Hans": "奖项"
    },
    experience: {
        en: "Experience",
        "zh-Hant": "經歷",
        "zh-Hans": "经历"
    },
    certificate: {
        en: "Certificate",
        "zh-Hant": "證書",
        "zh-Hans": "证书"
    },
    speaker: {
        en: "Speaker",
        "zh-Hant": "演講經歷",
        "zh-Hans": "演讲经历"
    },
    sometimes: {
        en: "(sometimes)",
        "zh-Hant": "（偶爾）",
        "zh-Hans": "（偶尔）"
    },
    retired: {
        en: "(Retired)",
        "zh-Hant": "（已卸任）",
        "zh-Hans": "（已卸任）"
    },
    bluhbluh: {
        en: "(bluh bluh bluh)",
        "zh-Hant": "(bluh bluh bluh)",
        "zh-Hans": "(bluh bluh bluh)"
    },
    homework: {
        en: "Homework",
        "zh-Hant": "寫作業",
        "zh-Hans": "写作业"
    },
    fullstackdevelopment: {
        en: "Full Stack Development",
        "zh-Hant": "全端開發",
        "zh-Hans": "全端开发"
    },
    websecurity: {
        en: "Web Security",
        "zh-Hant": "網路安全",
        "zh-Hans": "网络安全"
    },
    devops: {
        en: "DevOps",
        "zh-Hant": "DevOps",
        "zh-Hans": "DevOps"
    },
    uiuxdesign: {
        en: "UI/UX Design",
        "zh-Hant": "UI/UX 設計",
        "zh-Hans": "UI/UX 设计"
    },
    digitalillustration: {
        en: "Digital Illustration",
        "zh-Hant": "數位藝術",
        "zh-Hans": "数字艺术"
    },
    musicproduction: {
        en: "Music Production",
        "zh-Hant": "音樂製作",
        "zh-Hans": "音乐制作"
    },
    filmediting: {
        en: "Film Editing",
        "zh-Hant": "影片剪輯",
        "zh-Hans": "影片剪辑"
    },
    wagor: {
        en: "Wagor Bilingual Elementary School",
        "zh-Hant": "葳格高級中學附設小學",
        "zh-Hans": "葳格高级中学附设小学"
    },
    vtsh: {
        en: "St. Viator Catholic High School",
        "zh-Hant": "天主教衛道高級中學",
        "zh-Hans": "天主教卫道高级中学"
    },
    sysh: {
        en: "Shi-Yuan Senior High School",
        "zh-Hant": "臺中市立西苑高級中學",
        "zh-Hans": "台中市立西苑高级中学"
    },
    nycu: {
        en: "National Yang Ming Chiao Tung University CS",
        "zh-Hant": "國立陽明交通大學 資訊工程學系",
        "zh-Hans": "国立阳明交通大学 资讯工程学系"
    },
    NTNU2025: {
        en: "2025 National High School English Public Forum Debate - Winning Team, Honorable Mentioned Debater",
        "zh-Hant": "114 年全國高級中等學校英語辯論比賽區域賽 - 優勝隊伍、優秀辯士",
        "zh-Hans": "114 年全国高级中等学校英语辩论比赛区域赛 - 优胜队伍、优秀辩士"
    },
    awwwards2024: {
        en: "Awwwards - Honorable Mention",
        "zh-Hant": "Awwwards - Honorable Mention",
        "zh-Hans": "Awwwards - Honorable Mention"
    },
    sitcon2024: {
        en: "2024 SITCON Hackathon - Best Technical Award",
        "zh-Hant": "2024 SITCON 黑客松 - 最佳技術獎",
        "zh-Hans": "2024 SITCON 黑客松 - 最佳技术奖"
    },
    taichung2024: {
        en: "2024 Taichung City Outstanding Youth",
        "zh-Hant": "2024 台中市政府 優秀青年",
        "zh-Hans": "2024 台中市政府 优秀青年"
    },
    ithome2024: {
        en: '2024 iThome Ironman Series - "Watch Closely, GitHub Actions – I\'ll Only Demonstrate Once."',
        "zh-Hant": "2024 iThome 鐵人賽 DevOps 組佳作【看好了 GitHub Actions，我只示範一次】",
        "zh-Hans": "2024 iThome 铁人赛 DevOps 组佳作【看好了 GitHub Actions，我只示范一次】"
    },
    cssreels: {
        en: "CSSREELS Featured",
        "zh-Hant": "CSSREELS Featured",
        "zh-Hans": "CSSREELS Featured"
    },
    csslight: {
        en: "CSS Light - Featured of the Day",
        "zh-Hant": "CSS Light - Featured of the Day",
        "zh-Hans": "CSS Light - Featured of the Day"
    },
    topdesignking: {
        en: "TopDesignKing - King of the Day",
        "zh-Hant": "TopDesignKing - King of the Day",
        "zh-Hans": "TopDesignKing - King of the Day"
    },
    topcssgallery: {
        en: "Top CSS Gallery",
        "zh-Hant": "Top CSS Gallery",
        "zh-Hans": "Top CSS Gallery"
    },
    webguruaward: {
        en: "Web Guru Award - Guru of the Day",
        "zh-Hant": "Web Guru Award - Guru of the Day",
        "zh-Hans": "Web Guru Award - Guru of the Day"
    },
    nhs2024: {
        en: "2024 National High School English Public Forum Debate - Judge's Choice Awards, Honorable Mentioned Debater",
        "zh-Hant": "113 年全國高級中等學校英語辯論比賽區域賽 - 評審團講、優良辯士",
        "zh-Hans": "113 年全国高级中等学校英语辩论比赛区域赛 - 评审团讲、优良辩士"
    },
    yangwang2024: {
        en: "2024 Yangwang Cup National Science HomeRun Competition - Bronze Medal",
        "zh-Hant": "2024 仰望盃全國科學HomeRun實作大賽 - 銅牌獎",
        "zh-Hans": "2024 仰望杯全国科学HomeRun实作大赛 - 铜牌奖"
    },
    ithome2023: {
        en: '2023 iThome Ironman Series - "Cool Without Libraries - Fun with CSS & JS Effects"',
        "zh-Hant": "2023 iThome 鐵人賽 Modern Web 組鐵人【不用庫 也能酷 - 玩轉 CSS & Js 特效】",
        "zh-Hans": "2023 iThome 铁人赛 Modern Web 组铁人【不用库 也能酷 - 玩转 CSS & Js 特效】"
    },
    yearsDeveloping: {
        en: "9 years of web development experience",
        "zh-Hant": "9 年的網頁開發經驗",
        "zh-Hans": "9 年的网页开发经验"
    },
    awwwardsJury: {
        en: "Awwwards - Young Jury",
        "zh-Hant": "Awwwards 評審",
        "zh-Hans": "Awwwards 评审"
    },
    bamboofox: {
        en: "NCTU BambooFox - Team members",
        "zh-Hant": "交大網路安全策進會 (Bamboofox) - 社團／竹狐戰隊成員",
        "zh-Hans": "交大网络安全策进会 (Bamboofox) - 社团／竹狐战队成员"
    },
    SITCONCamp2025: {
        en: "2025 SITCON Camp IT Group Leader",
        "zh-Hant": "SITCON 夏令營 2025 - 資訊組組長、設計組組員",
        "zh-Hans": "SITCON 夏令营 2025 - 信息组组长、设计组成员"
    },
    SCAICT: {
        en: "SCAICT - IT Group Leader",
        "zh-Hant": "SCAICT - 資訊組組長",
        "zh-Hans": "SCAICT - 信息组组长"
    },
    SYTV: {
        en: "SYSV SYSH Tech Volunteer - Leader",
        "zh-Hant": "SYSV 西苑高中資訊志工隊 - 隊長",
        "zh-Hans": "SYSV 西苑高中信息志愿队 - 队长"
    },
    musixmatchCurator: {
        en: "Musixmatch Curator",
        "zh-Hant": "Musixmatch 管理員",
        "zh-Hans": "Musixmatch 管理员"
    },
    musixmatchTranslation: {
        en: "Musixmatch Translation Curator",
        "zh-Hant": "Musixmatch 翻譯管理員",
        "zh-Hans": "Musixmatch 翻译管理员"
    },
    radio: {
        en: "Amateur Radio Operator's Certificate (Call sign: BM4LTC)",
        "zh-Hant": "三等業餘無線電人員 (呼號 BM4LTC)",
        "zh-Hans": "三等业余无线电人员 (呼号 BM4LTC)"
    },
    TOEIC: {
        en: "TOEIC - Golden Certificate",
        "zh-Hant": "TOEIC 多益 - 金色證書",
        "zh-Hans": "TOEIC 多益 - 金色证书"
    },
    LINEOfficialAccount: {
        en: "LINE Official Account Expert Certification",
        "zh-Hant": "LINE 官方帳號專家認證",
        "zh-Hans": "LINE 官方账号专家认证"
    },
    SITCON2025: {
        en: "SITCON 2025 - Frontend Effect: Middle School Math",
        "zh-Hant": "SITCON 2025 - 前端特效：不都國中數學",
        "zh-Hans": "SITCON 2025 - 前端特效：不都国中数学"
    },
    COSCUP2024: {
        en: "COSCUP 2024 - The Path to Freedom: The Open Source Journey of SCAICT",
        "zh-Hant": "COSCUP 2024 - 前往自由的路上: 中電喵的開源之旅",
        "zh-Hans": "COSCUP 2024 - 前往自由的路上: 中电喵的开源之旅"
    },
    SITCON2024: {
        en: "SITCON 2024 - From Shortcuts to Terminal: The Programming Journey on iPhone",
        "zh-Hant": "SITCON 2024 - 從捷徑到終端：iPhone 上的程式設計之旅",
        "zh-Hans": "SITCON 2024 - 从捷径到终端：iPhone 上的编程之旅"
    },
    AIS3Club: {
        en: "AIS3 Club - Community Management",
        "zh-Hant": "AIS3 Club - 中電會社群經營",
        "zh-Hans": "AIS3 Club - 中电会社区经营"
    },
    SYTVPython: {
        en: "SYTV K12EA, Ministry of Education - Python Camp",
        "zh-Hant": "國教署新興科技教育遠距示範服務計畫 - Python 爬蟲工作坊講師",
        "zh-Hans": "国教署新兴科技教育远距示范服务计划 - Python 爬虫工作坊讲师"
    },
    SCAICTJuniorHighCourse: {
        en: "SCAICT Junior High Course - Line Bot",
        "zh-Hant": "中電會 國中生課程 - Line 機器人講師",
        "zh-Hans": "中电会 国中生课程 - Line 机器人讲师"
    },
    SYTVArduino: {
        en: "SYTV K12EA, Ministry of Education - Having Fun with Arduino Workshop",
        "zh-Hant": "國教署新興科技教育遠距示範服務計畫 - Arduino 樂趣工坊 總召",
        "zh-Hans": "国教署新兴科技教育远距示范服务计划 - Arduino 乐趣工坊 总召"
    },
    SCAICTWinter: {
        en: "SCAICT Winter Camp - Art Director, Phishing Website Course Instructor ",
        "zh-Hant": "知資為資知 - 2024中電會聯合寒訓 美術總監、釣魚網站課程講師",
        "zh-Hans": "知资为资知 - 2024中电会联合寒训 美术总监、钓鱼网站课程讲师"
    },
    StrightANotes: {
        en: "Apple Stright A - Sharing of digital note-taking skills",
        "zh-Hant": "Apple Stright A 好筆記給你神助力 - 筆記技巧分享",
        "zh-Hans": "Apple Stright A 好笔记给你神助力 - 笔记技巧分享"
    },
    SCAICTScarping: {
        en: "SCAICT United Orientation - Web Scraping Instructor",
        "zh-Hant": "中電會聯合幹訓 - 網路爬蟲講師",
        "zh-Hans": "中电会联合干训 - 网络爬虫讲师"
    },
    SCAICTTheme: {
        en: "SCAICT October Theme Course - Web Design Instructor",
        "zh-Hant": "中電會十月主題課程 - 網頁設計講師",
        "zh-Hans": "中电会十月主题课程 - 网页设计讲师"
    },
    SYSHMicrocourse: {
        en: "Shi-Yuan Senior High School - Web Design Microcourse",
        "zh-Hant": "西苑高中大學微課程 - 網頁設計講師",
        "zh-Hans": "西苑高中大学微课程 - 网页设计讲师"
    },
    TYPDebate: {
        en: "Taichung Youth Program - English Debate Station Host",
        "zh-Hant": "優遊台中學 - 英文辯力店關主",
        "zh-Hans": "优游台中学 - 英文辩力店关主"
    },
    SYTVScarping: {
        en: "SYTV K12EA, Ministry of Education - Web Design Workshop",
        "zh-Hant": "國教署新興科技教育遠距示範服務計畫 - 網頁設計工作坊 總召、講師",
        "zh-Hans": "国教署新兴科技教育远距示范服务计划 - 网页设计工作坊 总召、讲师"
    },
    SYTVWebDesign: {
        en: "SYTV K12EA, Ministry of Education - Python Web Scraping Workshop",
        "zh-Hant": "國教署新興科技教育遠距示範服務計畫 - Python 網路爬蟲 講師",
        "zh-Hans": "国教署新兴科技教育远距示范服务计划 - Python 网络爬虫 讲师"
    },
    StellaMatutinaCSS: {
        en: "Stella Matutina Girls' High School - Playing with CSS: Creating Stunning Animations ",
        "zh-Hant": "曉明女中自主學習分享 - 玩轉CSS：製作驚艷的網頁動畫",
        "zh-Hans": "晓明女中自主学习分享 - 玩转CSS：制作惊艳的网页动画"
    },
    SYTVC: {
        en: "SYTV - C Language Programming Camp Advanced Course",
        "zh-Hant": "西苑高中資訊志工隊 C 語言程式設計營隊 - 進階課程講師",
        "zh-Hans": "西苑高中信息志愿队 C 语言程序设计营队 - 高级课程讲师"
    },
    SYTVIoT: {
        en: "SYTV Guest Speaker - IoT Applications",
        "zh-Hant": "西苑高中資訊志工隊 C 語言程式設計營隊 - IoT 物聯網應用 講師",
        "zh-Hans": "西苑高中信息志愿队 C 语言程序设计营队 - IoT 物联网应用 讲师"
    },
    SITCONCamp2025Speaker: {
        en: "SITCON Camp 2025 Elective Tracks Speaker - More than CSS",
        "zh-Hant": "SITCON Camp 2025 廣度課程 - 不止於 CSS",
        "zh-Hans": "SITCON Camp 2025 广度课程 - 不止于 CSS"
    },
    chungHsin2025: {
        en: "Hsinchu ChungHsin Foundation Speech & Debate Open Invitational - Champion",
        "zh-Hant": "忠信英文演講及辯論公開邀請賽 - 冠軍",
        "zh-Hans": "忠信英文演讲及辩论公开邀请赛 - 冠军"
    }
});
---

<html lang={lang}>
    <head>
        <Head i18n={t.t} title={t.title} description={t.description} theme="#333" image={ogImage.src} />
    </head>

    <body style="background-color: #000">
        <Nav />
        <main>
            <div class="top">
                <div class="largeName aos">{t.elvisdragonmao}</div>
                <h2 class="aos">{t.aka}</h2>
                <p class="aos">{t.intro}</p>
                <h2>{t.skills}</h2>
                <picture>
                    <source srcset={head.src} />
                    <img src={avatar.src} alt="Portrait photo of Elvis Mao" class="em" /></picture
                >
            </div>
            <div class="em"></div>
            <div class="skill">
                <div>
                    <h3>{t.ido}</h3>
                    <ol>
                        <li>{t.homework} <span>{t.sometimes}</span></li>
                        <li>{t.fullstackdevelopment}</li>
                        <li>{t.websecurity}</li>
                        <li>{t.devops}</li>
                        <li>{t.uiuxdesign}</li>
                        <li>{t.digitalillustration}</li>
                        <li>{t.musicproduction}</li>
                        <li>{t.filmediting}</li>
                    </ol>
                </div>
                <div>
                    <h3>{t.langLib}</h3>
                    <ol>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript / TypeScript</li>
                        <li>React / Vue</li>
                        <li>Node.js</li>
                        <li>Python</li>
                        <li>C++ / C#</li>
                    </ol>
                </div>
                <div>
                    <h3>{t.applications}</h3>
                    <ol>
                        <li>Nginx / Caddy</li>
                        <li>Git</li>
                        <li>MySQL / PostgreSQL / MongoDB</li>
                        <li>Ps / Ai / Id / Ae</li>
                        <li>Wordpress, Wix</li>
                        <li>Figma</li>
                    </ol>
                </div>
            </div>
            <h2>{t.education}</h2>
            <div class="education">
                <div class="school aos">
                    <div>
                        <h3>{t.wagor}</h3>
                        <p>2013 - 2019</p>
                    </div>
                </div>
                <div class="school aos">
                    <div>
                        <h3>{t.vtsh}</h3>
                        <p>2019 - 2022</p>
                    </div>
                </div>
                <div class="school aos">
                    <div>
                        <h3>{t.sysh}</h3>
                        <p>2022 - 2025</p>
                    </div>
                </div>
                <div class="school aos">
                    <div>
                        <h3>{t.nycu}</h3>
                        <p><span>2025 - 2029</span></p>
                    </div>
                </div>
            </div>
            <h2 class="awards">{t.awards}</h2>
            <h3>2025</h3>
            <ul>
                <li>{t.chungHsin2025}</li>
                <li>{t.NTNU2025}</li>
            </ul>
            <h3>2024</h3>
            <ul>
                <li>{t.awwwards2024}</li>
                <li>{t.sitcon2024}</li>
                <li>{t.taichung2024}</li>
                <li>{t.ithome2024}</li>
                <li>{t.cssreels}</li>
                <li>{t.csslight}</li>
                <li>{t.topdesignking}</li>
                <li>{t.topcssgallery}</li>
                <li>{t.webguruaward}</li>
                <li>{t.nhs2024}</li>
                <li>{t.yangwang2024}</li>
            </ul>
            <h3>2023</h3>
            <ul>
                <li>{t.ithome2023}</li>
            </ul>
            <div class="fridge-container">
                <div class="fridge">
                    <div class="fridge-list">
                        <a href="https://www.awwwards.com/sites/elvis-mao" target="_blank"> <img src={awwwards.src} alt="awwwawds badge" /></a>
                        <a href="https://ithelp.ithome.com.tw/users/20139821/ironman/6133" target="_blank"> <img src="https://d1dwq032kyr03c.cloudfront.net/images/ironman_sticker/15/web.png" alt="" /></a>
                        <a href="https://ithelp.ithome.com.tw/users/20139821/ironman/7503" target="_blank"> <img src="https://d1dwq032kyr03c.cloudfront.net/images/ironman_sticker/16/devops.png" alt="" /></a>
                        <img src={cssreel.src} alt="CSSREEL" />
                        <a href="https://www.csslight.com/website/63649/Scaict" target="_blank">
                            <img src="http://www.csslight.com/ribbons/csslight-featured-ribbon-left.png" />
                        </a>
                        <a href="http://webguruawards.com/awards/GOTD/webguruawards_white_bg_color.jpg" target="_blank">
                            <img src="https://webguruawards.com/awards/GOTD/img_guru_of_the_day_right.png" />
                        </a>
                        <a href="https://www.topcssgallery.com/gallery/scaict/" target="_blank">
                            <img src="https://scaict.org/src/img/TCG.png" />
                        </a>
                        <a href="https://topdesignking.com/website/1502/scaict" target="_blank"><img src="https://topdesignking.com/public/images/ribbon-neon.png" alt="TopDesignKing" /></a>
                    </div>
                </div>
            </div>
            <h2>{t.experience}</h2>
            <ul>
                <li>{t.yearsDeveloping}</li>
                <li>
                    <a href="https://www.awwwards.com/jury-member/elvismao">{t.awwwardsJury}</a>
                </li>
                <li>
                    <a href="https://bamboofox.org/">{t.bamboofox}</a>
                </li>
                <li>{t.SITCONCamp2025}</li>
                <li>
                    <a href="https://scaict.org/">{t.SCAICT}</a>
                    <span>{t.retired}</span>
                </li>
                <li>
                    <a href="https://sytv.scaict.org/">{t.SYTV}</a>
                    <span>{t.retired}</span>
                </li>
                <li>{t.musixmatchCurator}<span>{t.retired}</span></li>
                <li>{t.musixmatchTranslation}</li>
            </ul>
            <h2>{t.certificate}</h2>
            <ul>
                <li>{t.radio}</li>
                <li>{t.TOEIC}</li>
                <li>{t.LINEOfficialAccount}</li>
            </ul>
            <h2 id="speaker">{t.speaker} <span>{t.bluhbluh}</span></h2>
            <div class="speaker">
                <div>
                    <h3>2025</h3>
                    <ul>
                        <li>
                            <a href="https://sitcon.camp">{t.SITCONCamp2025Speaker}</a>
                        </li>
                        <li>
                            <a href="https://sitcon.org/2025/agenda/aa71e5/">{t.SITCON2025}</a>
                        </li>
                    </ul>
                    <h3>2024</h3>
                    <ul>
                        <li>
                            <a href="https://coscup.org/">{t.COSCUP2024}</a>
                        </li>
                        <li>
                            <a href="https://sitcon.org/2024/">{t.SITCON2024}</a>
                        </li>
                        <li>
                            <a href="https://ais3.org/">{t.AIS3Club}</a>
                        </li>

                        <li>
                            {t.SYTVPython}
                        </li>
                        <li>{t.SCAICTJuniorHighCourse}</li>
                        <li>{t.SYTVArduino}</li>
                        <li>
                            <a href="https://wc.scaict.org/">{t.SCAICTWinter}</a>
                        </li>
                    </ul>
                    <h3>2023</h3>
                    <ul>
                        <li>{t.StrightANotes}</li>
                        <li>{t.SCAICTScarping}</li>
                        <li>{t.SCAICTTheme}</li>
                        <li>{t.SYSHMicrocourse}</li>
                        <li>
                            <a href="https://www.k12ea.gov.tw/En/">{t.TYPDebate}</a>
                        </li>
                        <li>
                            <a href="https://www.k12ea.gov.tw/En/">{t.SYTVScarping}</a>
                        </li>
                        <li>{t.SYTVWebDesign}</li>
                    </ul>
                    <h3>2022</h3>
                    <ul>
                        <li>{t.StellaMatutinaCSS}</li>
                        <li>{t.SYTVC}</li>
                        <li>{t.SYTVIoT}</li>
                    </ul>
                </div>

                <div class="emSitcon">
                    <img src={sitcon.src} alt="Elvis Mao presenting a talk about iPhone programming at SITCON 2024 conference" />
                </div>
            </div>
            <div class="github"></div>
        </main>
        <Footer />
        <script src="@assets/intro/style.js"></script>
        <script is:inline>
            const fridgeList = document.querySelector(".fridge-list");
            const fridgeListWidth = fridgeList.offsetWidth;
            const repeat = Math.ceil(window.innerWidth / fridgeListWidth) * 2;
            fridgeList.innerHTML = fridgeList.innerHTML.repeat(repeat);
            fridgeList.style.animationDuration = window.innerWidth / 20 + "s";
        </script>
        <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "ProfilePage",
                "image": "https://emtech.cc/static/img/EMprofile.png",
                "url": "https://elvismao.com/",
                "logo": "https://emtech.cc/static/img/EMprofile.png",
                "name": "Elvis Mao",
                "alternateName": ["毛宥鈞", "毛哥EM", "EM"],
                "description": "Elvis Dragon Mao (also known as Elvis Mao, 毛哥EM) (born May 12, 2007, in Taipei, Taiwan) is a Taiwanese full stack developer, digital creator, and student. Renowned for his expertise in web development, EM has earned recognition in both technical and creative domains. He is actively affiliated with organizations such as SITCON, COSCUP, and SCAICT and has received accolades including the 2024 Taichung City Outstanding Youth award and an Honorable Mention from Awwwards. As the founder of emtech.cc, EM champions innovative digital solutions and advocates for open-source initiatives.",
                "email": "info@elvismao.com",
                "contactPoint": {
                    "@type": "ContactPoint",
                    "email": "info@elvismao.com"
                },
                "foundingDate": "2021-06-04",
                "sameAs": ["https://www.instagram.com/emtech.cc/", "https://emtech.cc"],
                "mainEntity": {
                    "@context": "https://schema.org",
                    "@type": "Person",
                    "name": "Elvis Mao",
                    "givenName": "Elvis",
                    "familyName": "Mao",
                    "additionalName": "Dragon",
                    "alternateName": ["毛宥鈞", "毛哥EM", "Elvis Dragon Mao", "EM"],
                    "birthDate": "2007-05-12",
                    "birthPlace": "Taipei, Taiwan",
                    "brand": "毛哥EM",
                    "gender": "Male",
                    "nationality": "Taiwan",
                    "email": "info@elvismao.com",
                    "url": "https://elvismao.com/",
                    "image": "https://elvismao.com/img/avatar.png",
                    "jobTitle": "Full Stack Developer",
                    "worksFor": {
                        "@type": "Organization",
                        "name": "emtech"
                    },
                    "alumniOf": [
                        {
                            "@type": "EducationalOrganization",
                            "name": "National Yang Ming Chiao Tung University"
                        },
                        {
                            "@type": "EducationalOrganization",
                            "name": "Shi-Yuan Senior High School"
                        },
                        {
                            "@type": "EducationalOrganization",
                            "name": "St. Viator Catholic High School"
                        },
                        {
                            "@type": "EducationalOrganization",
                            "name": "Wagor Bilingual Elementary School"
                        }
                    ],
                    "affiliation": [
                        {
                            "@type": "Organization",
                            "name": "SCAICT 中部高中電資社團聯合會議"
                        },
                        {
                            "@type": "Organization",
                            "name": "SYTV 西菀高中資訊志工隊"
                        }
                    ],
                    "award": ["Awwwards - Honorable Mention", "2024 Taichung City Outstanding Youth"],
                    "knowsLanguage": ["zh-Hant", "en", "zh-Hans"],
                    "knowsAbout": ["Full Stack Development", "Cybersecurity", "Web Design", "Web Development"],
                    "skills": ["Full Stack Development", "Web Design", "Cybersecurity"],
                    "memberOf": [
                        {
                            "@type": "Organization",
                            "name": "EM's Base"
                        },
                        {
                            "@type": "Organization",
                            "name": "SITCON"
                        },
                        {
                            "@type": "Organization",
                            "name": "SCAICT"
                        }
                    ],
                    "honorificSuffix": "MVP",
                    "sameAs": ["https://github.com/Edit-Mr", "https://twitter.com/ElvisDragonMao", "https://linkedin.com/in/elvismao", "https://www.instagram.com/elvisdragonmao/"]
                }
            }
        </script>
    </body>
</html>
