---
import Nav from "@components/Nav.astro";
import "@assets/intro/base.css";
import "@assets/intro/home.css";
import * as i18n from "src/i18n";
import Head from "@components/Head.astro";

const t = i18n.T(Astro.url, {
    elvismao: {
        "zh-Hant": "毛哥EM",
        "zh-Hans": "毛哥EM",
        en: "Elvis Mao"
    },
    description: {
        "zh-Hant": "毛哥EM (毛宥鈞) 一名熱愛科技、設計、和解決問題的學生。",
        "zh-Hans": "毛哥EM (毛宥钧) 一名热爱科技、设计、和解决问题的学生。",
        en: "Elvis Mao (毛哥EM) is a full stack developer, and a digital creator from Taiwan."
    }
});
---

<html lang="zh-Hant">
    <head>
        <Head i18n={t} path="" favicon={true} title={t.elvismao} description={t.description} image="/img/thumbnail.webp" theme="#FFF" />
        <script src="@assets/intro/main.js"></script>
        <script src="@assets/intro/earth.js"></script>
    </head>

    <body style="background-color: #000">
        <h1>{t.elvismao}</h1>
        <Nav />
        <main>
            <header>
                <div class="big-title">EM</div>
            </header>
            <div id="space">
                <div id="intro">
                    <div>
                        <div class="type">
                            <span>This is </span><b>Elvis Mao</b><span>.</span><br />
                            <span>A high school student,</span><br />
                            <span>a </span> full stack developer,<br />
                            <span>and a </span> digital artist.<span></span>
                        </div>
                    </div>
                </div>
                <div id="about">
                    <div>
                        <div id="create">
                            I love creating
                            <div class="create">
                                experiences
                                <div class="creates">
                                    <div>experiences</div>
                                    <div>animations</div>
                                    <div>future...</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div id="data">
                    <div class="data-container">
                        <div>
                            <div class="data-number">
                                <span class="number" data-n="82">0</span>+
                            </div>
                            <div class="data-title">Pull Requests in 2024</div>
                        </div>
                        <div>
                            <div class="data-number">
                                <span class="number" data-n="45">0</span>+
                            </div>
                            <div class="data-title">OSS Projects</div>
                        </div>
                    </div>
                    <div class="data-space"></div>
                    <div class="data-container">
                        <div>
                            <div class="data-number">
                                <span class="number" data-n="1400000">0</span>
                            </div>
                            <div class="data-title">Docs translated</div>
                        </div>
                        <div>
                            <div class="data-number">
                                <span class="number" data-n="1500000">0</span>
                            </div>
                            <div class="data-title">Words in blog</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alot">
                <div id="alot">That's a lo<span id="alot-o"></span>t</div>
            </div>
            <div id="earth">
                <div class="earth-text">
                    <div class="type type-do1">But no matter what I do,</div>
                    <div class="type type-do2">I just hope to make this world a little different.</div>
                </div>
            </div>
            <div id="contact">
                <div class="contact">
                    <div class="contact-container">
                        <h2 class="aos">Elvis Mao</h2>
                        <p class="aos">Full Stack Developer | Digital Artist</p>
                        <div class="socials aos">
                            <a class="cybr-btn" href="/code">
                                <span id="thisClassTitleG">Projects</span><span aria-hidden>_</span>
                                <span aria-hidden class="cybr-btn__glitch" id="thisClassTitle">Projects</span>
                            </a>
                            <a class="cybr-btn" href="/about/">
                                <span id="thisMeetTitleG">About</span><span aria-hidden>_</span>
                                <span aria-hidden class="cybr-btn__glitch" id="thisMeetTitle">About</span>
                            </a>
                        </div>
                        <div class="social-links aos">
                            <a href="mailto:info@elvismao.com"><img src="/src/assets/img/icon/envelope-regular.svg" alt="Mail" /></a>
                            <a href="https://github.com/Edit-Mr" target="_blank"><img src="/src/assets/img/icon/github.svg" alt="Mail" /></a>
                            <a href="https://t.me/elvisdragonmao" target="_blank"><img src="/src/assets/img/icon/telegram.svg" alt="Telegram" /></a>
                            <a href="https://www.instagram.com/elvisdragonmao/" target="_blank"><img src="/src/assets/img/icon/Instagram.svg" alt="Instagram" /></a>
                        </div>
                    </div>
                </div>
                <div id="awwwards">
                    <a href="https://www.awwwards.com/sites/elvis-mao" target="_blank"><img src="/src/assets/intro/awwwards.svg" alt="" /></a>
                </div>
                <div id="output"></div>
                <footer>© 2025 by Elvis Mao</footer>
            </div>
        </main>
        <script src="@assets/intro/style.js"></script>
        <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "ProfilePage",
                "image": "https://emtech.cc/static/img/EMprofile.png",
                "url": "https://elvismao.com/",
                "logo": "https://emtech.cc/static/img/EMprofile.png",
                "name": "毛哥EM的基地",
                "alternateName": ["毛宥鈞", "毛哥EM", "EM"],
                "description": "Elvis Mao (毛哥EM) is a full stack developer, and a digital creator from Taiwan.",
                "email": "info@elvismao.com",
                "contactPoint": {
                    "@type": "ContactPoint",
                    "email": "info@elvismao.com"
                },
                "foundingDate": "2021-06-04",
                "sameAs": ["https://www.instagram.com/emtech.cc/", "https://emtech.cc"],
                "mainEntity": {
                    "@context": "https://schema.org",
                    "@type": "Person",
                    "name": "Elvis Mao",
                    "givenName": "Elvis",
                    "familyName": "Mao",
                    "additionalName": "Dragon",
                    "alternateName": ["毛宥鈞", "毛哥EM", "Elvis Dragon Mao", "EM"],
                    "birthDate": "2007-05-12",
                    "birthPlace": "Taipei, Taiwan",
                    "brand": "毛哥EM",
                    "gender": "Male",
                    "nationality": "Taiwan",
                    "email": "info@elvismao.com",
                    "url": "https://elvismao.com/",
                    "image": "https://elvismao.com/img/avatar.png",
                    "jobTitle": "Full Stack Developer",
                    "worksFor": {
                        "@type": "Organization",
                        "name": "emtech"
                    },
                    "alumniOf": [
                        {
                            "@type": "EducationalOrganization",
                            "name": "National Yang Ming Chiao Tung University"
                        },
                        {
                            "@type": "EducationalOrganization",
                            "name": "Shi-Yuan Senior High School"
                        },
                        {
                            "@type": "EducationalOrganization",
                            "name": "St. Viator Catholic High School"
                        },
                        {
                            "@type": "EducationalOrganization",
                            "name": "Wagor Bilingual Elementary School"
                        }
                    ],
                    "affiliation": [
                        {
                            "@type": "Organization",
                            "name": "SCAICT 中部高中電資社團聯合會議"
                        },
                        {
                            "@type": "Organization",
                            "name": "SYTV 西菀高中資訊志工隊"
                        }
                    ],
                    "award": ["Awwwards - Honorable Mention", "2024 Taichung City Outstanding Youth"],
                    "knowsLanguage": ["zh-Hant", "en", "zh-Hans"],
                    "knowsAbout": ["Full Stack Development", "Cybersecurity", "Web Design", "Web Development"],

                    "skills": ["Full Stack Development", "Web Design", "Cybersecurity"],
                    "memberOf": [
                        {
                            "@type": "Organization",
                            "name": "EM's Base"
                        },
                        {
                            "@type": "Organization",
                            "name": "SITCON"
                        },
                        {
                            "@type": "Organization",
                            "name": "SCAICT"
                        }
                    ],
                    "honorificSuffix": "MVP",
                    "sameAs": ["https://github.com/Edit-Mr", "https://twitter.com/ElvisDragonMao", "https://linkedin.com/in/elvismao", "https://www.instagram.com/elvisdragonmao/"]
                }
            }
        </script>
    </body>
</html>
