---
import Head from "@components/Head.astro";
---

<html lang="zh-Hant">
	<head>
		<Head title="第65屆國三3電子畢冊" theme="#333" image="https://raw.githubusercontent.com/Edit-Mr/2022-vtsh-graduation/main/group.webp" favicon={false} theme="#2f4154" />
		<link rel="icon" href="https://raw.githubusercontent.com/Edit-Mr/2022-vtsh-graduation/refs/heads/main/teacher/%E6%9D%8E%E8%8B%A5%E8%96%87.webp" />
		<style is:global>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			body {
				background-color: #181c27;
				color: #ddd;
				line-height: 1.5;
			}

			nav {
				background-color: #d8d8d83a;
				backdrop-filter: blur(10px);
				--webkit-backdrop-filter: blur(10px);
				position: fixed;
				top: 1rem;
				left: 50%;
				transform: translateX(-50%);
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				padding: 1rem 2rem;
				border-radius: 2000px;
				z-index: 1000;
			}

			nav a {
				text-decoration: none;
			}

			a {
				color: #ddd;
				font-weight: bold;
				transition: color 0.3s ease;
			}

			a:hover {
				color: #30a9de;
				text-decoration: underline;
			}

			header {
				height: 600px;
				display: flex;
				justify-content: center;
				align-items: center;
				background: url(https://raw.githubusercontent.com/Edit-Mr/2022-vtsh-graduation/main/group.webp) no-repeat center center;
				background-size: cover;
				backdrop-filter: opacity(0.5);
				position: relative;
			}

			header::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
			}

			header h1 {
				position: relative;
				z-index: 1;
				color: #fff;
				font-size: 2rem;
				text-align: center;
			}

			h1::after {
				content: "_";
				animation: blink 1s infinite;
			}
			@keyframes blink {
				0%,
				100% {
					opacity: 1;
				}
				50% {
					opacity: 0;
				}
			}

			main {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
				gap: 1rem;
				padding: 2rem;
				max-width: 1200px;
				margin: 0 auto;
			}

			.student {
				background-color: #2f4154;
				border-radius: 10px;
				padding: 1rem;
				display: flex;
				align-items: center;
				gap: 1rem;
				transition: transform 0.3s ease;
			}
			.student:hover {
				transform: scale(1.05);
			}
			.student img {
				width: 80px;
				height: 80px;
				border-radius: 50%;
				object-fit: cover;
				object-position: top;
				background-color: #44576f;
				color: transparent;
			}
			.student div {
				flex: 1;
			}
			.student h3 {
				margin-bottom: 0.5rem;
			}
			.student p {
				margin: 0.2rem 0;
			}

			@media (max-width: 600px) {
				header h1 {
					font-size: 1.5rem;
				}
				nav {
					flex-direction: column;
					gap: 0.5rem;
				}
				main {
					grid-template-columns: 1fr;
				}
			}

			.none {
				display: none;
			}
		</style>
	</head>
	<body class="emfont-GenYoMinTW-min">
		<nav>
			<a href="/code/303/">班級成員</a>

			<a href="/code/303/teacher/">指導老師</a>
		</nav>
		<header>
			<h1>指導老師</h1>
			<div class="none">指導老師</div>
		</header>
		<main>
			{
				[
					{
						name: "朱相鈴",
						description: "閱讀思考老師"
					},
					{
						name: "Raffle",
						description: "英會外師"
					},
					{
						name: "陳怡光",
						description: "你要懺悔"
					},
					{
						name: "李雅芳",
						description: "國二音樂老師"
					},
					{
						name: "林美志",
						description: "助教 罰寫"
					},
					{
						name: "曾德欣",
						description: "國一音樂老師"
					},
					{
						name: "羅中萬",
						description: "國二健教老師"
					},
					{
						name: "周聖典",
						description: "國一生命教育"
					},
					{
						name: "謝麗雪",
						description: "歷史老師"
					},
					{
						name: "郭學正",
						description: "國一電腦老師"
					},
					{
						name: "莫昍霖",
						description: "國三美術老師"
					},
					{
						name: "彭大慶",
						description: "國一二國文老師"
					},
					{
						name: "汪碗霖",
						description: "我的助教~"
					},
					{
						name: "李若薇",
						description: "想到你我就一肚子火"
					},
					{
						name: "陳育玟",
						description: "國三音樂老師"
					},
					{
						name: "蔡望生",
						description: "上半月的上半夜的半滿月是上弦月"
					},
					{
						name: "蘇明祥",
						description: "國二生活科技老師"
					},
					{
						name: "林秋蓉",
						description: "國一公民老師"
					},
					{
						name: "闕淑娟",
						description: "記你一個大打叉"
					},
					{
						name: "林宗興",
						description: "體育老師"
					},
					{
						name: "蔡侑芸",
						description: "國二數學應用老師"
					},
					{
						name: "Richad Bean",
						description: "英會外師"
					},
					{
						name: "孫宛如",
						description: "環保 吃素 救地球"
					},
					{
						name: "劉朝行",
						description: "國三理化"
					},
					{
						name: "吳承憲",
						description: "國一理化"
					}
				].map(teacher => (
					<div class="student">
						<img src={`https://raw.githubusercontent.com/Edit-Mr/2022-vtsh-graduation/refs/heads/main/teacher/${teacher.name}.webp`} alt={teacher.name} />
						<div>
							<h3 class="emfont-GenYoMinTW-min-700">{teacher.name}</h3>
							<p>{teacher.description}</p>
						</div>
					</div>
				))
			}
		</main>
		<script is:inline>
			// typing effect
			const header = document.querySelector("header h1");
			const text = header.textContent;
			header.textContent = "";
			let index = 0;
			function type() {
				if (index < text.length) {
					header.textContent += text.charAt(index);
					index++;
					setTimeout(type, 100);
				}
			}
			type();
		</script>
		<script type="module">
			import "https://font.emtech.cc/emfont.js";
			emfont.init();
		</script>
	</body>
</html>
